.nav {
  display: flex;
  background: rgb(238, 238, 238);
  background: linear-gradient(90deg, rgba(238, 238, 238, 1) 0%, rgba(241, 241, 241, 1) 100%);
  opacity: 0.8;
  justify-content: space-between;
}

.list {

}
