.bgWrap {
  width: 100%;
}

.text {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -.06em;
  margin: 0 0 16px;
}

.first {
  --start-color: #B7EFC5;
  --end-color: #6EDE8A;
  --content: 'Creativity';
  --animation: a;
}

.first::before {
  animation-name: a;
}

.second {
  --start-color: #13ce66;
  --end-color: #25A244;
  --content: 'Innovation';
  --animation: a2;
}

.second::before {
  animation-name: a2;
}

.third {
  --start-color: #25A244;
  --end-color: #1A7431;
  --content: 'Solutions.';
  --animation: a3;
}

.third::before {
  animation-name: a3;
}

.span {
  font-weight: 800;
  color: #f1f1f1;
  display: block;
  font-size: 100px;
  line-height: 1.1;
  position: relative;
  padding: 0 2rem 2rem 2rem;
}

@media (max-width: 568px) {
  .span {
    font-size: 80px;
  }
}

@media (max-width: 400px) {
  .span {
    font-size: 60px;
  }
}

.span::before {
  animation-duration: 8s;
  animation-iteration-count: infinite;
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f1f1f1;
  font-size: 100px;
  position: absolute;
  inset: 0;
  content: var(--content);
}

@media (max-width: 568px) {
  .span::before {
    font-size: 80px;
  }
}

@media (max-width: 400px) {
  .span::before {
    font-size: 60px;
  }
}

@keyframes a {

  0%,
  16.667%,
  100% {
    opacity: 1;
  }

  33.333%,
  83.333% {
    opacity: 0;
  }
}

@keyframes a2 {

  0%,
  100% {
    opacity: 0;
  }

  33.333%,
  50% {
    opacity: 1;
  }

  16.667%,
  66.667% {
    opacity: 0;
  }
}

@keyframes a3 {

  0%,
  50%,
  100% {
    opacity: 0;
  }

  66.667%,
  83.333% {
    opacity: 1;
  }
}
