@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-gradient {
  background: rgb(241, 255, 233);
  background: linear-gradient(90deg, rgba(241, 255, 233, 1) 0%, rgb(233, 255, 219) 100%);
}
